@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  // @apply bg-gradient-to-b from-zinc-800 to-zinc-950;
  @apply bg-zinc-950;
  // width: 1920px;
  height: 100vh;
  font-family: Roboto;
  scrollbar-gutter: stable;
}
